
@if(permiso){
  <div id="seguidores">
    <button id="siguiendo"  data-bs-toggle="modal" data-bs-target="#seguidos">
     Siguiendo {{usuario.usuarios?.length}}  
   </button>
  </div>

<div id="datos">
    <div>
      <img src="{{usuario.imagen}}" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
    </div>
    <div id="nombre">
        <p>{{usuario.nombreUsuario}}</p>
        <p>{{usuario.email}}</p>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-secondary"  type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarPerfil">Editar perfil</button>
    </div>
</div>
<div id="menu">
  <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Creadas</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#"  [routerLink]="['/listas', usuario.nombreUsuario]" [queryParams]="{id:usuario.id}">Guardadas</a>
      </li>
  </ul>
</div>

<div id="recetasCreadas">
  @for(receta of usuario.recetas; track receta.id){
    <div class="card" style="width: 18rem;">
      @if(receta.imagen) {
        <img src="{{receta.imagen[0].imagen}}" class="card-img-top" alt="...">
      }
      <div class="card-body">
        <h5 class="card-title">{{receta.nombre}}</h5>
        <p  class="card-text" *ngIf="receta.descripcion.split(' ').length >= 15">{{receta.descripcion.split(' ').slice(0,15).join(' ')}}...</p>
        <p  class="card-text" *ngIf="receta.descripcion.split(' ').length < 15">{{receta.descripcion}}</p>
        <a href="#" class="btn btn-primary" style="color:white">Editar</a>
        <button id="botonBorrar" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#borrar">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
        </button>
      </div>
    </div>


    <div class="modal" id="borrar" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>¿Deseas eliminar la receta?</p>
          </div>
          <div class="modal-footer">
            <button id="eliminar" type="button" class="btn btn-primary" (click)="eliminarReceta(receta.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>


  } @empty {
    <p class="vacio">No has creado ninguna receta</p>
  }
</div>

}@else {
  <p style="text-align:center;" id="siguiendo">Siguiendo {{usuario.usuarios?.length}}</p>
  <div id="datos2">
      <div>
        <img src="{{usuario.imagen}}" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
      </div>
      <div id="nombre2">
          <p>{{usuario.nombreUsuario}}</p>
          <p>{{usuario.email}}</p>
      </div>
  </div>
  @if(sesionIniciada){
    <div id="seguir">
 
      <button class="btn btn-secondary" *ngIf="sigueAlUsuario" (click)="dejarDeSeguir(usuario.id)">Dejar de seguir</button>
      <button class="btn btn-secondary" *ngIf="!sigueAlUsuario" (click)="seguirUsuario()">Seguir +</button>
    </div>
  }
  
  <div id="menu">
    <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Creadas</a>
        </li>
    </ul>
  </div>
  
  <div id="recetasCreadas">
    @for(receta of usuario.recetas; track receta.id){
      <div class="card" style="width: 18rem;">
        @if(receta.imagen){
          <img src="{{receta.imagen[0].imagen}}" class="card-img-top" alt="...">
        }
        <div class="card-body">
          <h4 class="card-title"><a href="#" [routerLink]="['/recetas', receta.nombre]" [queryParams]="{id:receta.id}">{{ receta.nombre }}</a></h4>
          <p class="card-text">{{receta.descripcion}}</p>
          <a  [routerLink]="['/perfil', receta.usuario?.nombreUsuario]" [queryParams]="{id:receta.usuario?.id}">{{ receta.usuario?.nombreUsuario }}</a>

        </div>
      </div>
    } @empty {
      <p class="vacio">Este usuario no ha creado ninguna receta</p>
    }
  </div>

}

  


<div class="modal fade" id="seguidos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Siguiendo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @for(usuario of usuario.usuarios; track usuario){
          <div id="usuarios">
            {{usuario.nombre}}
            <button class="noSeguir" (click)="dejarDeSeguir(usuario.id)">Dejar de seguir</button>
          </div>
        }@empty {
          <p>No sigues a nadie</p>}
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

  

<div class="modal fade" id="editarPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar tu perfil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control">
            </div>
        
            <div class="form-group">
              <label for="nombres">Nombre</label>
              <input type="text" id="nombres" formControlName="nombre" class="form-control">
            </div>
        
            <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input type="text" id="apellidos" formControlName="apellidos" class="form-control">
            </div>
        
            <div class="form-group">
              <label for="nombreUsuario">Nombre de Usuario</label>
              <input type="text" id="nombreUsuario" formControlName="nombreUsuario" class="form-control">
            </div>
        
            <div class="form-group">
              <label for="provincia">Provincia</label>
              <input type="text" id="provincia" formControlName="provincia" class="form-control">
            </div>

            <div class="form-group">
              <label for="imagen">Imagen</label>
              <input id="imagen" type="file" (change)="seleccionarImagen($event)" class="form-control">
            </div>
        
            <div class="form-group">
              <label for="contrasenia">Contraseña</label>
              <input type="password" id="contrasenia" formControlName="contrasenia" class="form-control" placeholder="Nueva contraseña (si no la quieres cambiar déjalo vacío)">
            </div>
        
            <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Actualizar</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
