.imagen img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
    object-fit: cover;
}

.texto {
    padding-bottom: 60px;
    text-align: left;
    font-size:15px;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

@media (min-width: 768px) {
    #contenido {
        flex-direction: row;
        justify-content: space-around;
    }

    .imagen {
        width: 50%;
    }

    .texto {
        width: 50%;
        text-align: left;
        font-size:20px;
    }
}
