


#siguiendo{
    margin-top:2%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:30px;
}

#datos{
    margin-top:2%;
    margin-bottom:5%;
    background-color:rgb(200, 200, 200);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:30px;
}

#datos2{
    margin-bottom:5%;
    background-color:rgb(200, 200, 200);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}


#menu{
    display: flex;
    justify-content: center;
}

#datosUsuario{
    text-align: center;
}

#nombre2{
    text-align: center;
    margin-left:2%;
}

#recetasCreadas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:5%;
    margin-right:20%;
    margin-left:20%;


}

#seguir{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1.2%;
    margin-bottom:2%;
    margin-right:20%;
    margin-left:20%;
}

.card{
    display:block;
    margin:auto;
}



.accordion-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-radius:15px;

}

.accordion-item{
    width:70%;
    margin:20px;


}

.accordion-button{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:none;
    border-radius:10px;
    margin:0px;
    padding:0px;
    width:20px;

}

#accordionElements{
    display:flex;
    align-items: center;
    margin-top:2%;
    margin-bottom:2%;
    width:55%;
    justify-content: flex-end;
   

}

#accordionElements button{
    border:none;
    background-color: transparent;
    
}

.accordion{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:50px;
     
}

.accordion-body{
    display:flex;
    flex-direction: space-around;
    flex-wrap:wrap;
    width:100%;

}




#anadirLista{
    width:9.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5%;
}

#anadirLista p{
    margin:0px;
    padding:0px;
}


.modal-header {
    background-color: #926153;
    color: white;
  }
  .modal-footer {
    justify-content: flex-end;
  }
  .modal-body {
    padding: 2rem;
  }
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
 
  .btn-primary {
    background-color: #926153;
  }
  .btn-primary:hover {
    background-color: #7a4d45;
  }
  @media (max-width: 576px) {
    .modal-dialog {
      max-width: 100%;
      margin: 0.5rem;
    }
  }

  .card img{
    display: block;  
    object-fit: cover;
    height:170px;
}

.card{
    margin-top:5%;
    border:none;
    background-color: #ECEDEB;
    height:350px;
}

h4 a{color:black;}
.borrar{
    background-color: transparent;
    border:none;
}

.borrar svg{
    color:#F31A1A;
}

